
.cargoTonNavbar{
    margin-left: -40px;
}

.cargoTonSlider{
 margin-top: 20px;
}

.cargotonWelcome{
    margin-top: 760px;
}

.cargotonService{
    margin-top: 620px;
}

.cargotonStatSection{
    margin-top: 90px;
}

.cargoTonTestimonials{
    margin-top: 50px;
}

.cargoTonClients{
    margin-top: 460px;
}

.cargoTonNews{
    margin-top: 50px;
}

.cargoTonFooter{
    margin-left: 35px;
}
