.footerCustomerServiceContainer{
    display: flex;
    position: relative;
    width: 280px;
    height: 400px;
    font-family: sans-serif;
    background-color: #576982;
}

.footerCustomerServiceHeading_div{
    position: absolute;
    top:10px ;
    left: 20px;
}

.footerCustomerServiceHeading{
    color: rgb(255, 255, 255);
}

.footerCustomerServiceHorizontalLine_div{
    position: absolute;
    top: 45px;
    left: 20px;
    width: 60px;
    height: 3px;
    background-color: #C6A617;
    margin: 20px auto;
}

.customerServiceSection_div{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 250px;
    height: 300px;
}